// В этом файле должны быть стили для БЭМ-блока top-nav, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.top-nav {

  $block-name:                &; // #{$block-name}__element

  display: none;
  transition: all $transition-time;
  box-shadow: 0 -1px 0 0 #000000;

  &__toggler {
    position: absolute;
    top: 16px;
    right: 20px;
    width: 50px;

    @media (min-width: 660px) {
      top: 35px;
    }

    .top-nav--open & {
      width: 30px;

      @media (min-width: 660px) {
        top: 40px;
      }
    }
  }

  &__list {
    margin: 0;
    padding: 0;

    list-style: none;
  }

  &__item {
    margin-bottom: 1px;
    box-shadow: 0 1px 0 0 #000000, inset 0 1px 0 0 rgba(255, 255, 255, 0.15);
  }

  &__link {
    display: block;
    padding-top: 16px;
    padding-bottom: 16px;

    font-size: 18px;
    line-height: 32px;
    color: $white;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
  }

  &--open {
    background-color: rgba(40, 54, 69, 1);
  }

  #{$block-name}--open & {
    display: block;
  }
}
