// В этом файле должны быть стили для БЭМ-блока top-nav, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.top-nav {

  $block-name:                &; // #{$block-name}__element

  display: none;
  transition: all $transition-time;
  box-shadow: 0 -1px 0 0 #000000;

  @media (min-width: 960px) {
    @include col(lg, 10, 12, 0);

    display: flex;
  }

  &__toggler {
    position: absolute;
    top: 16px;
    right: 20px;
    width: 50px;

    @media (min-width: 660px) {
      top: 35px;
    }

    @media (min-width: 960px) {
      display: none;
    }

    .top-nav--open & {
      width: 30px;

      @media (min-width: 660px) {
        top: 40px;
      }
    }
  }

  &__list {
    margin: 0;
    padding: 0;

    list-style: none;

    @media (min-width: 960px) {
      display: flex;
      flex-basis: 100%;
      align-items: center;
      justify-content: flex-end;
    }
  }

  &__item {
    margin-bottom: 1px;
    box-shadow: 0 1px 0 0 #000000, inset 0 1px 0 0 rgba(255, 255, 255, 0.15);

    @media (min-width: 960px) {
      margin-bottom: 0;
      margin-left: 80px;
      box-shadow: none;

      &:first-of-type {
        margin-left: 0;
      }
    }
  }

  &__link {
    display: block;
    padding-top: 16px;
    padding-bottom: 16px;

    font-size: 18px;
    line-height: 32px;
    color: $white;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;

    @media (min-width: 960px) {
      padding-top: 10px;
      padding-bottom: 10px;

      font-size: 18px;
      line-height: 18px;
      font-weight: 500;
      text-transform: none;

      &:active {
        color: $white;
        opacity: 0.3;
      }

      &:hover {
        color: $text-color-accent;
      }

      &:focus {
        color: $white;
      }

      &--active {
        border-bottom: 2px solid $white;
      }
    }
  }

  &--open {
    background-color: rgba(40, 54, 69, 1);
  }

  #{$block-name}--open & {
    display: block;
  }
}
