//- Все примеси в этом файле должны начинаться c имени блока (top-nav)

mixin top-nav(text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +top-nav('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' top-nav--' + modsList[i].trim();
      }
    }

  nav.top-nav#nav(class=allMods)&attributes(attributes)
    ul.top-nav__list
      li.top-nav__item
        a.top-nav__link(href='index.html') Главная
      li.top-nav__item
        a.top-nav__link(href='photos.html') Фотографии
      li.top-nav__item
        a.top-nav__link(href='contest.html') Конкурс
      block
