//- Все примеси в этом файле должны начинаться c имени блока (top-nav)

mixin top-nav(menuItems, mods)

  //- Принимает:
  //-   menuItems    {array} - menu data (title, href)
  //-   mods    {string} - список модификаторов
  //- Вызов:
    +top-nav([{'title': 'Главная', 'href': 'index.html'}, {'title': 'Фотографии', 'href': 'photos.html'}, {'title': 'Конкурс', 'href': 'contest.html'}, {'title': 'Контактьі', 'href': 'contacts.html'}])

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' top-nav--' + modsList[i].trim();
      }
    }

  nav.top-nav#nav(class=allMods)&attributes(attributes)
    ul.top-nav__list
      each item in menuItems
        li.top-nav__item
          a.top-nav__link(
            href=item.href
            class={'top-nav__link--active' : currentUrl == item.href}) #{item.title}
    // /.top-nav__list
    block
  // /.top-nav
