// В этом файле должны быть стили для БЭМ-блока offer, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.offer {

  $block-name:                &; // #{$block-name}__element

  padding-top: 42px;

  &__inner {
    @include container(
      $xs-grid-gutter: 40px,
      $sm-grid-gutter: 40px);

    max-width: 260px;
    text-align: center;

    @media (min-width: 660px) {
      max-width: 100%;
    }
  }

  &__content {
    margin-bottom: 32px;

    font-size: 24px;
    line-height: 27px;
    font-weight: 300;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}
