// В этом файле должны быть стили для БЭМ-блока offer, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.offer {

  $block-name:                &; // #{$block-name}__element

  padding-top: 42px;

  &__inner {
    width: 205px;
    margin-left: auto;
    margin-right: auto;

    text-align: center;
  }

  &__content {
    margin-bottom: 32px;

    font-size: 24px;
    line-height: 27px;
    font-weight: 300;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}
