//- Все примеси в этом файле должны начинаться c имени блока (upload)

mixin upload(data, mods)

  //- Принимает:
  //-   data    {object} - данные
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +upload({url: '#'}, 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' upload--' + modsList[i].trim();
      }
    }

  section.upload(class=allMods)&attributes(attributes)
    .upload__inner
      p.upload__text.
        Затмите их всех!
        <br>
        Выкладывайте все, что накопилось в телефоне!

      +picture({'img': 'img-upload-01', 'lg': false})

      form.upload__form
        +field-range({
          title: 'Crop',
          mods: 'crop',
          attrs: {
            name: 'crop',
            min: '1',
            max: '100',
            step: '1',
            value: '40',
          }
        })
        +field-range({
          title: 'Fill',
          mods: 'fill',
          attrs: {
            name: 'fill',
            min: '1',
            max: '100',
            step: '1',
            value: '10',
          }
        })
        +field-range({
          title: 'Contrast',
          mods: 'contrast',
          attrs: {
            name: 'contrast',
            min: '1',
            max: '100',
            step: '1',
            value: '60',
          }
        })
        button.upload__btn-submit(type='submit') Запостить
        button.upload__btn-cancel(type='button') Отмена
      ///.upload__form
    ///.upload__inner
  ///.upload
