// В этом файле должны быть стили для БЭМ-блока page-header, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.page-header {

  $block-name:                &; // #{$block-name}__element

  position: absolute;
  z-index: 10;
  width: 100%;
  padding-top: 1px;

  background-color: rgba(0, 0, 0, 0.3);

  &__inner {
    @include container(
      $xs-grid-gutter: 40px,
      $sm-grid-gutter: 40px,
      $md-grid-gutter: 40px,
      $lg-grid-gutter: 40px,
      $xl-grid-gutter: 20px,
    );

    position: relative;
  }

  &__grid {

    @media (min-width: 960px) {
      @include row($lg-grid-gutter: 0);
      @include row($xl-grid-gutter: 0);
    }
  }

  &--contest {

    #{$block-name}__inner {
      @include container(
        $lg-grid-gutter: 20px,
        $xl-grid-gutter: 20px
      );
    }
  }
}
