// В этом файле должны быть стили для БЭМ-блока gallery, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.gallery {

  $block-name:                &; // #{$block-name}__element

  position: relative;

  &__inner {
    @include container(
      $xs-grid-gutter: 40px,
      $sm-grid-gutter: 0,
      $md-grid-gutter: 20px,
      $lg-grid-gutter: 20px
    );
  }

  &__grid {
    @include row($xs-grid-gutter: 20px);
    @include row($lg-grid-gutter: 20px);
  }

  &__text {
    margin-bottom: 49px;
    padding-top: 44px;

    font-size: 14px;
    line-height: 30px;
    text-align: center;

    @media (min-width: $screen-sm) {
      margin-bottom: 77px;
      padding-top: 91px;
      font-size: 18px;
      white-space: pre-line;
    }

    @media (min-width: $screen-lg) {
      margin-bottom: 89px;
      white-space: nowrap;
    }

    & br {
      display: none;

      @media (min-width: $screen-lg) {
        display: block;
      }
    }
  }
}
