// В этом файле должны быть стили для БЭМ-блока btn, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.btn {
  box-sizing: border-box;
  display: inline-block;
  max-width: 100%;
  margin: 0;
  border-radius: $border-radius;
  border: 3px solid $white;
  padding: 15px $field-padding-horizontal;
  vertical-align: middle;
  white-space: nowrap;
  text-overflow: ellipsis;
  user-select: none;
  text-align: center;
  font-size: 18px;
  font-family: inherit;
  line-height: 18px;
  font-weight: 700;
  text-decoration: none;
  text-transform: none;
  color: $white;
  background-color: transparent;
  background-image: none;
  cursor: pointer;
  overflow: hidden;

  &:hover,
  &:focus {
    text-decoration: none;
    color: $text-color;
    background-color: darken($gray-lightest, 10%);
    // border-color: darken($gray-lighter, 12%);
  }

  // &:visited {
  //   color: $text-color;
  // }

  &:active,
  &:focus {
    @include field-focus;
  }

  &--disabled,
  &:disabled {
    opacity: $opacity;
    cursor: not-allowed;
    color: $text-color;
    background-color: $gray-lightest;
    // border-color: $gray-lighter;

    @at-root a.btn--disabled {
      pointer-events: none;
    }
  }

  // &__icon {
  //   display: inline-block;
  //   vertical-align: middle;
  // }



  // &--main {
  //   color: #fff;
  //   background-color: $color-main;
  //   // border: 1px solid $color-main;

  //   &:hover,
  //   &:focus {
  //     color: #fff;
  //     background-color: darken($color-main, 10%);
  //     // border-color: darken($color-main, 12%);
  //   }

  //   &--disabled,
  //   &:disabled {
  //     color: #fff;
  //     background-color: $color-main;
  //     // border-color: $color-main;
  //   }
  // }

  &--success {
    min-width: 280px;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
    padding-top: 17px;
    padding-bottom: 17px;
    border: none;
    border-radius: 5px;

    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    color: $white;

    background-color: $color-success;

    &:hover {
      color: $white;
      background-color: darken($color: $color-success, $amount: 2%);
    }

    &:active {
      color: rgba($color: $white, $alpha: 0.3);
      background-color: darken($color: $color-success, $amount: 2%);
    }

    &:focus {
      box-shadow: none;
    }

    &:disabled {
      color: $white;
      background-color: $body-bg-contrast;
      opacity: 1;
    }
  }
}
