// В этом файле должны быть стили для БЭМ-блока diagram, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.diagram {

  $block-name:                &; // #{$block-name}__element

  display: none;
  padding-top: 20px;
  padding-bottom: 20px;

  @media (min-width: 660px) {
    display: block;
  }

  @media (min-width: 960px) {
    background-color: #f2f2f2;
  }

  &__inner {
    @include container(
      $md-grid-gutter: 40px
    );
    @include row(
      $md-grid-gutter: 0
    );
  }

  &__image {
    @include col(
      $screen: md,
      $column: 6,
      $gutter: 0
    );
    @include col(lg, 4, 12, 0);

    background-image: url('../img/img-diagram-desktop.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    @media (min-width: 960px) {
      background-image: url('../img/img-diagram-desktop.webp');

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url('../img/img-diagram-desktop@2x.png');
      }

      .no-webpalpha & {
        background-image: url('../img/img-diagram-desktop.png');
      }
    }
  }

  &__content {
    @include col(
      $screen: md,
      $column: 6,
      $gutter: 0
    );
    @include col(lg, 8, 12, 0);

    padding-top: 75px;
    padding-bottom: 40px;

    @media (min-width: 960px) {
      padding-top: 121px;
      padding-left: 55px;
      padding-bottom: 93px;
    }
  }

  &__title {
    margin-top: 0;
    margin-bottom: 10px;

    font-size: 30px;
    line-height: 36px;
    white-space: pre-line;
    color: $black;

    @media (min-width: 960px) {
      margin-bottom: 24px;

      line-height: 30px;
      white-space: normal;
    }
  }

  &__text {
    margin-bottom: 10px;

    font-size: 14px;
    line-height: 24px;

    @media (min-width: 960px) {
      margin-bottom: 30px;

      font-size: 18px;
      line-height: 30px;
    }
  }

  &__link {

    font-size: 14px;
    line-height: 24px;
    color: $text-color-accent;

    @media (min-width: 960px) {
      font-size: 18px;
      line-height: 30px;
    }
  }
}
