// В этом файле должны быть стили для БЭМ-блока hero, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.hero {

  $block-name:                &; // #{$block-name}__element

  position: relative;
  min-height: 460px;
  overflow: hidden;

  background-image: url('../img/bg-hero-mobile.jpg');
  background-image: image-set('../img/bg-hero-mobile-00-@2x.jpg' 2x, '../img/bg-hero-mobile.jpg' 1x); // stylelint-disable-line
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: cover;

  @media (min-width: 500px) {
    background-size: cover;
  }

  @media (min-width: 660px) {
    /* stylelint-disable */
    background-image: url('../img/bg-hero-tablet.jpg');
    background-image: image-set(
      '../img/bg-hero-desktop.jpg' 2x,
      '../img/bg-hero-tablet.jpg' 1x
    );
    /* stylelint-enable */
  }

  @media (min-width: 1200px) {
    background-image: url('../img/bg-hero-desktop.jpg');
  }

  &__inner {
    @include container(
      $xs-grid-gutter: 0,
      $sm-grid-gutter: 0,
      $md-grid-gutter: 0,
      $lg-grid-gutter: 0,
      $xl-grid-gutter: 0
    );

    padding-top: 460px;

    /* stylelint-disable */
    background-image: image-set(
      '../img/img-mockup-iphone-6@2x.png' 2x,
      '../img/img-mockup-iphone-6-320w.png' 1x
    );
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    /* stylelint-enable */

    @media (min-width: 480px) {
      background:
        url('../img/img-mockup-iphone-6-mobile.png') no-repeat 100px 172px,
        url('../img/img-screen-01-mobile.jpg') no-repeat 204px 205px;
    }

    @media (min-width: 660px) {
      padding-top: 0;

      background:
        url('../img/img-mockup-iphone-6-tablet.png') no-repeat 0 185px,
        url('../img/img-screen-01-tablet.jpg') no-repeat 371px 239px;
    }

    @media (min-width: 960px) {
      background:
        url('../img/img-mockup-iphone-6-tablet.png') no-repeat 200px 185px,
        url('../img/img-screen-01-tablet.jpg') no-repeat 571px 239px;
    }

    @media (min-width: 1200px) {
      background: url('../img/img-mockup-iphone-6-desktop.png') no-repeat -28% bottom;
    }
  }
}
