// В этом файле должны быть стили для БЭМ-блока review, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.review {

  $block-name:                &; // #{$block-name}__element

  padding-top: 42px;

  @media (min-width: 660px) {
    padding-top: 65px;
  }

  @media (min-width: 960px) {
    padding-top: 186px;

    background: center 73px no-repeat url('../img/icon-bg-quotes-desktop.png');
  }

  &__inner {
    @include container(
      $xs-grid-gutter: 40px,
      $sm-grid-gutter: 40px,
      $md-grid-gutter: 40px,
      $lg-grid-gutter: 20px,
      $xl-grid-gutter: 20px
    );

    max-width: 280px;

    @media (min-width: 660px) {
      max-width: 100%;
    }
  }

  & .carousel__item {
    min-height: 203px;

    text-align: center;
  }

  & .carousel__item-author {
    margin: 0;
    margin-bottom: 13px;

    font-size: 18px;
    line-height: 30px;
    color: $black;

    @media (min-width: 660px) {
      margin-bottom: 2px;

      font-size: 20px;
    }

    @media (min-width: 960px) {
      font-size: 24px;
    }
  }

  & .carousel__item-info {
    display: none;

    @media (min-width: 660px) {
      display: block;

      font-size: 14px;
      line-height: 30px;
    }

    @media (min-width: 960px) {
      font-size: 18px;
    }
  }

  & .carousel__item-review {
    font-size: 14px;
    line-height: 30px;

    @media (min-width: 660px) {
      order: -1;
      margin-bottom: 35px;

      font-size: 18px;
    }
  }
}
