// В этом файле должны быть стили для БЭМ-блока review, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.review {

  $block-name:                &; // #{$block-name}__element

  padding-top: 42px;

  &__inner {
    width: 280px;
    margin-left: auto;
    margin-right: auto;
  }

  & .carousel__item {
    min-height: 237px;

    text-align: center;
  }

  & .carousel__item-author {
    margin: 0;
    margin-bottom: 13px;

    font-size: 18px;
    line-height: 30px;
    color: $black;
  }

  & .carousel__item-review {
    font-size: 14px;
    line-height: 30px;
  }
}
