//- Все примеси в этом файле должны начинаться c имени блока (review)

mixin review(text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +review('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' review--' + modsList[i].trim();
      }
    }

  section.review(class=allMods)&attributes(attributes)
    .review__inner
      +carousel('reviews', 3)

      block

mixin review-items()

  -
    const options = [
      {
        'title': 'Николай Петров',
        'info': '25 лет, водитель трамвая',
        'text': '«Это приложение перевернуло мой мир и позволило по-новому взглянуть на привычные серые вещи! А еще я познакомился со своей будущей женой в комментариях к выложенной фотографии!»'
      },
      {
        'title': 'John Doe',
        'info': 'Ipsum similique. Consequuntur dolor sit amet.',
        'text': 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente dolores sunt labore nobis rerum accusamus explicabo itaque repudiandae deserunt quibusdam earum aspernatur unde officiis non voluptatibus'
      },
      {
        'title': 'Joe Doe',
        'info': 'Mpsum similique. Consequuntur',
        'text': 'Molestiae atque, laboriosam ipsum similique. Consequuntur atque quaerat id quibusdam nam provident autem ullam! Consequatur, soluta est. Iuremodi impedit voluptatibus, accusantium neque alias!'
      }
    ]

  each item in options
    li.carousel__item
      h2.carousel__item-author= item.title
      span.carousel__item-info= item.info
      p.carousel__item-review= item.text
