// В этом файле должны быть стили для БЭМ-блока contest, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.contest {

  $block-name:                &; // #{$block-name}__element

  .form__fieldset {
    @include container(
      $xs-grid-gutter: 40px,
      $sm-grid-gutter: 0,
      $md-grid-gutter: 0
    );
  }

  .form__fieldset--full-name:not(:last-child) {
    order: -10;
    margin-bottom: 0;
    padding-bottom: 13px;

    @media (min-width: $screen-sm) {
      margin-bottom: 50px;
    }
  }

  .form__fieldset--achievements {
    order: -9;
    padding-top: 77px;

    background-color: $body-bg-contrast;

    @media (min-width: $screen-sm) {
      @include row($sm-grid-gutter: 0);

      order: -7;
      margin-bottom: 54px;
      padding-top: 30px;
      border: 2px solid $body-bg-contrast;

      background-color: transparent;
    }
  }

  .form__fieldset--contacts {
    order: -8;
    padding-top: 16px;

    @media (min-width: $screen-sm) {
      @include row($sm-grid-gutter: 0);

      margin-bottom: 54px;
      padding-right: 60px;
      padding-left: 60px;
      border: 2px solid $body-bg-contrast;

      background-color: transparent;
    }
  }

  .form__fieldset--app {
    @include row($sm-grid-gutter: 0);

    justify-content: center;
    order: -7;
    padding-top: 30px;
    padding-bottom: 5px;

    background-color: $body-bg-contrast;

    @media (min-width: $screen-sm) {
      order: -9;
      border: 2px solid $body-bg-contrast;

      background-color: transparent;
    }
  }

  .form__fieldset--comment {
    order: -6;

    @media (min-width: $screen-sm) {
      @include row($sm-grid-gutter: 0);

      margin-bottom: 70px;
      padding-top: 40px;
      padding-right: 60px;
      padding-bottom: 53px;
      padding-left: 60px;

      border: 2px solid $body-bg-contrast;
    }
  }

  .form__legend {
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    color: $text-color-accent;
  }

  .field-text {
    margin-bottom: 12px;

    @media (min-width: $screen-sm) {
      @include row($sm-grid-gutter: 0);

      position: relative;
      margin-bottom: 56px;

      &--phone::before,
      &--email::before {
        content: '';
        display: inline-block;
        position: absolute;
        top: 0;
        right: 0;
        width: 60px;
        height: 60px;

        background-color: $body-bg-contrast;
        background-image: url('data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAmCAYAAAC29NkdAAACmUlEQVRYhdWY33HUMBDGPzz3jqkAPfKGqYC7ChJeeM5VAKkAqCBQwV0HhApiKshBBUcFmA6YDZ8yG0V/VicfhG/Gk5NtST/talfrPPr+7DUMGng5AM8B9Gz3ls4AJgA7/v0GYM/2rtRxkbgvE58COAGwrABJqec44LgafATwBcAl23cUWlAGegvgzQxQtRK4TwA+alANKEBXdN2/lLh95SE7BfIQ4ECGK9/wgO8fCJzXQKZbF/807Dkx+RbAr8bJHwM4M873ZMGosgTEmpE2h74C+FwY5yaTdEwlFt1LAQ2yjnWyaNh7ko56Jt1t4p0zJveJ6aNWQw3gXv2+IKBWCClwG9V+CuC8FrAzvBQDDBflIu+HW0f3KR5xXp1hPxzqnlzgTeGJkXpP0oyjO/bKSlNmlTLxdWC1fWBhRIoJef4iA6Xfd7y21mpGw7WcOHeOMYtq9uAcZ7U/xsyFiBVwzkKiCjJVD2pZ4UaeEKKXqv7LQRbdXQK0wEk0fohMJH3fRfJlFWTOxRa4NZNvbIKJz9aZ/kV350r+EpxYTZ8eS+XWkRd4wjhaMwcZtWQszVjgbkoh1d4wl2ptA+uVSrpoCgpdbA0IXXYtI3DgvSHRJ6aouzVgTSr5EQCmdJroY4b0gC15LjzirM9MkB5wUwmnK5Xo9yzvXSb6WCA3HtAFrrAO4Bc0cXOP6vkYbPjhAO8Ik1skajmLZIUrVfmsEn36oHCtkaspFkL5vZJboGs9w1sARQNrw4sgmpe8d91aYFiKhZL8/3NSZ26TWi14dHWMuEPy1bElTKO34KuaL62/oJFMt3twxw8apyJP6/wICxgYSFqr8AMsDJLY15lfwBi5P7fuzfFfBElMUox6SV13DOvJmLrg1XP+EYDfR3WiCq9wdJQAAAAASUVORK5CYII=');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 20px;
      }

      &--email::before {
        background-image: url('data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAaCAYAAADfcP5FAAABiElEQVRIie2WzW0CMRCFv6xSACVwzJFUENIBXHJeStgKgA7oADoIHUAqCKICOggdEFl6lsys9491SA550h4w43lv7JnxPByf3jAYAe/A0P6RGCdgChxCt1mEY3wHMYhjbBdjgjbA+Q6CzuJqFOQMX+1RJsZBHKXAY4IINpQiSIBNXcBVgvxJzYAioZhCPitTwgnKgYu+dSShV8CzquJWnORjZfYPxen5c1f2X8AgMDqrHPdm80DtoFQZDdjLnz2VsfxdcWdmwRPvgIVZ98m+7CBmWZG8C3GUuOtyaB6JwDubNlyhb3o2KH/K86qN7souNY6p6qjCBHhRd0c2H8A2YtvqBWgjyGPWow3kSt5G1F2ZxVqfvcI6DIJ9rdBFkI901/KtG8o270LQVRDKhU/lTxUmshnVu0ojiKBabBWhtVh1tsLjjYI85qqyZfC7a+O8Ql9BSEAvESFuvbIfw7+gJvxJQX3mnNQ4ZYknwr4oMr3MdpL7DTgNW59D7pTcIGWnxHvAcTruAuAbXBBTYKB6H4wAAAAASUVORK5CYII=');
      }
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .field-text__input-wrap {
    display: flex;

    @media (min-width: $screen-sm) {
      align-items: center;
    }
  }

  .field-text__name,
  .field-text__help-text {
    flex-basis: 100%;
    order: -1;
    margin-bottom: 6px;
    padding-left: 22px;

    font-size: 14px;
    line-height: 30px;
    font-weight: 500;
    text-transform: uppercase;
    color: $text-color-accent;
  }

  .field-text__name {

    @media (min-width: $screen-sm) {
      order: 1;
    }
  }

  .field-text__help-text {

    @media (min-width: $screen-sm) {
      flex-basis: auto;
      flex-grow: 0;
      flex-shrink: 0;
      margin-right: 22px;
      padding-left: 0;
    }
  }


  .field-text__input {
    padding-top: 14px;
    padding-left: 20px;
    padding-bottom: 14px;
    border: 2px solid $body-bg-contrast;
    border-radius: 0;

    font-size: 18px;
    line-height: 30px;
    color: $text-color;

    &:hover {
      border-color: $text-color;
    }

    &:focus {
      border-color: $text-color-accent;
      box-shadow: none;
    }
  }

  .field-checkbox {
    margin-bottom: 52px;

    &:last-of-type {
      margin-bottom: 48px;
    }
  }

  .field-radio__name,
  .field-checkbox__name {
    padding-left: 70px;

    @media (min-width: $screen-sm) {
      margin-left: 59px;
    }
  }

  .field-checkbox__name-text {
    font-size: 18px;
    line-height: 30px;
    color: $text-color;

    &::before {
      top: -2px;
      left: 0;
      width: 38px;
      height: 38px;
      border: 2px solid $border-color;
      border-radius: 0;
      background-color: $white;

      @media (min-width: $screen-sm) {
        border-color: $body-bg-contrast;
      }
    }

    &::after {
      top: 7px;
      left: 8px;

      width: 22px;
      height: 12px;
      border-color: $text-color-accent;
      box-shadow: none;
    }
  }

  .field-radio__input-wrap {
    margin-bottom: 44px;
  }

  .field-radio__name-text {
    font-size: 18px;
    line-height: 30px;
    color: $text-color;

    &::before {
      top: -4px;
      width: 38px;
      height: 38px;
      border: 2px solid $border-color;
      background-color: $white;

      @media (min-width: $screen-sm) {
        border-color: $body-bg-contrast;
      }
    }

    &::after {
      top: 7px;
      left: 11px;
      width: 15px;
      height: 15px;
      background-color: $text-color-accent;
    }
  }

  .field-actions {
    @include col(sm, 6, 12, 0);
  }

  .field-actions__text {
    margin-top: 20px;

    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
    text-align: center;
    color: $text-color;

    @media (min-width: $screen-sm) {
      margin-top: 0;
      margin-bottom: 0;
      text-align: right;
    }

    i {
      font-style: normal;
      color: $text-color-accent;
    }
  }

  .btn--success {
    @include col(sm, 6, 12, 0);

    @media (min-width: $screen-sm) {
      width: auto;
      min-width: unset;
      margin: 0;
    }
  }

  &__inner {

    @media (min-width: $screen-sm) {
      @include container(
        $sm-grid-gutter: 40px,
        $md-grid-gutter: 40px
      );
    }
  }

  &__text {
    margin-bottom: 27px;
    padding-top: 46px;
    padding-right: 20px;
    padding-left: 20px;

    font-size: 14px;
    line-height: 30px;
    text-align: center;

    @media (min-width: $screen-sm) {
      margin-bottom: 70px;
      padding: 0;
      padding-top: 94px;

      font-size: 18px;
    }

    &--md {
      display: none;
    }
  }

  &__form {
    @include row($xs-grid-gutter: 0);

    justify-content: center;

    @media (min-width: $screen-sm) {
      margin-bottom: 63px;
    }
  }
}
