//- Стандартный шаблон страницы

include mixins.pug

doctype html
html(class='page  no-js', lang='ru')

  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    //- Edge и ряд мобильных браузеров слишком умны. Отключим это.
    meta(name='format-detection', content='telephone=no')
    meta(name='format-detection', content='date=no')
    meta(name='format-detection', content='address=no')
    meta(name='format-detection', content='email=no')
    meta(content='notranslate', name='google')
    //- Фавиконки (https://realfavicongenerator.net)
    //- link(rel='apple-touch-icon', sizes='180x180', href='/img/favicon/apple-touch-icon.png')
    //- link(rel='icon', type='image/png', sizes='32x32', href='/img/favicon/favicon-32x32.png')
    //- link(rel='icon', type='image/png', sizes='16x16', href='/img/favicon/favicon-16x16.png')
    //- link(rel='manifest', href='/img/favicon/site.webmanifest')
    //- link(rel='mask-icon', href='/img/favicon/safari-pinned-tab.svg', color='#5bbad5')
    //- meta(name='msapplication-TileColor', content='#5bbad5')
    //- meta(name='theme-color', content='#000')
    //- meta(name='msapplication-navbutton-color', content='#000')
    //- meta(name='apple-mobile-web-app-status-bar-style', content='#000')

    block meta
      title Home

    block fonts
      link(rel='preconnect', href='https://fonts.gstatic.com')
      link(rel='stylesheet', href='https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap')

    block head
      link(rel='stylesheet', href='css/style.css')
      script
        include ../js/head-script.js

  body
    noscript У вас отключен JavaScript. Это пугает.

    .page__inner
      .page__content

        block header
          +page-header()
            +logo('/')
              img(src='data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEsAAAAWCAYAAACIXmHDAAACr0lEQVRYhdVZi3HbMAwFeh3AG9TdIJmg8QSNJ6g9Qe0J0kygdAKrE8QbOBvInSDqBPEGrwcbdCFaoiSKytXvLnfWhyDxCDwCEQHYoRsKAM8AFgAmFIA8B/CmVu+b3lSbglcA05DNhvFTM89d7DsB+zcVPzoS5eOthYQ7M+BH4D2Lom0TYuaR+13WUjPOEnUc+9E8L4noV8PYT0R0o38CcUqibMnMeR8HAxDbGREtE9mLhhBFRDv1U7AnoqcKWcwcZF5TRRxyUbUBIONeEq1TUvxP2zrGRANRM2Y+fOgzLzMLMXMistH0PcHaS/P7IZTiY6KGqK0jSi56kWWwNr9TOFZ66bfRhb8baojKJTAcURRLlho4p15fYW6wmZuIdZo42G4XNBB1oZ2xkTUKdIFuE6bqwKjoStRQss5pYkM1AeZGw+T43oxFlmpjJ6IoliwAKzNBqpPwCCVeCHMbICfkIuUcdPJBbD4bPx5DRFEMWUpUZm499l5pC5h5XyP4varvEJQoP2K/tmmkrbMmLQuSZ99USxzyhDVWBcy8BSAb8aD3RfBvpXwZYreGqFJ9ctp1Gxoci1Ab07fdaRRy0aymliii3SlQxaKmrWnUyL5pWOrx/vkdq+y1VtGkuz9E8N2hJHooUZprys/NOwuVmgvYNNx7xaaPcmgKxEAEH8CMiF5VjO8BZMwcWmsIB63K3QbIHC/S55qNyAAc/L7XknUYS3+GwhBWqKkVgN9em9QFF0Q5CDEAvkhk6S0hbG/f/a+K0hBqTsjM1nod8bOOKActHbZ6KVG8s/9nuxqy6F9L9KSXE6+ESYWl0chK23VVZNGJsHXqQtiz7xfF50Pl6shSzM3uJ4ceZDNj93ioXCVZuvtLs/tjzOFr5Mp+NEhWN0V8sIiaW2yP+cFCx5+KWqD4Cwkc6Iy9EZq9AAAAAElFTkSuQmCC', alt='Logo', width='75', height='22')
            block nav
              +burger('Toggle mobile menu', 'nav', 'top-nav--show')

        block content
          p содержимое

      .page__footer-wrapper
        +page-footer()
          block footer
            //- p «Подвал»
            //- p Контактный телефон: #[a(href='tel:+70000000000') +7 000 000 00 00]

    block page-bottom
      script(src='js/bundle.js')
