extends ../pug/layout.pug

append config
  - var currentTitle = 'Главная'
  - var currentDescription = 'Pink app'

block content
  +hero('Top hero block')

  +offer('Предложение')

  +advantages('Преимущества')

  +diagram('Promo diagram')

  +review('Отзывы')

  +price('Price table')

  +contacts('Contacts')
