extends ../pug/layout.pug

append config
  -
    currentTitle = 'Главная'
    currentDescription = 'Pink app'
    currentUrl = 'index.html'

block content
  +hero('Top hero block', 'index')

  +offer('Предложение')

  +advantages('Преимущества')

  +diagram('Promo diagram')

  +review('Отзывы')

  +price('Price table')

  +contacts('Contacts')
