extends ../pug/layout.pug

block meta
  title Pink | Главная
  meta(name='description', content='Pink app')

block content
  +hero('Top hero block')

  +offer('Предложение')

  +advantages('Преимущества')

  +diagram('Promo diagram')

  +review('Отзывы')

  +price('Price table')

  +contacts('Contacts')
