extends ../pug/layout.pug

append config
  -
    currentTitle = 'Фото'
    currentDescription = 'Users fotos'
    currentUrl = 'photos.html'


block content

  +hero('Photos hero')

  +gallery()

  +upload()
