//- Все примеси в этом файле должны начинаться c имени блока (carousel)

mixin carousel(id, items, mods)

  //- Принимает:
  //-   id      {string} - carousel id
  //-   items   {number} - total number of items
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +carousel('reviews', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' carousel--' + modsList[i].trim();
      }
    }

  .carousel(class=allMods)&attributes(attributes)
    ul.carousel__items
      if id == 'reviews'
        +review-items()

      if id == 'price'
        +price-items()

    .carousel__togglers
      - let n = 0
      while n < items
        i.carousel__toggler= ++n

    block
