// В этом файле должны быть стили для БЭМ-блока logo, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.logo {

  $block-name:                &; // #{$block-name}__element

  display: inline-block;
  padding-top: 20px;
  margin-bottom: 15px;

  white-space: nowrap;

  @media (min-width: 660px) {
    padding-top: 27px;
    margin-bottom: 43px;
  }

  @media (min-width: 960px) {
    @include col(lg, 2, 12, 0);
    @include col(xl, 2, 12, 0);
  }

  img {
    display: block;

    @media (min-width: 660px) {
      width: 147px;
      height: 40px;
    }
  }

  .top-nav--open & {
    margin-bottom: 20px;

    @media (min-width: 660px) {
      margin-bottom: 42px;
    }
  }
}
