// В этом файле должны быть стили для БЭМ-блока page-footer, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.page-footer {

  $block-name:                &; // #{$block-name}__element

  @media (min-width: 660px) {
    display: block;
    padding-top: 36px;
    padding-bottom: 30px;
  }

  @media (min-width: 960px) {
    padding-top: 99px;
    padding-bottom: 70px;
  }

  & .logo {
    @include col(
      $screen: md,
      $column: 3,
      $gutter: 0
    );

    margin-bottom: 24px;
    padding-top: 37px;

    @media (min-width: $screen-md) {
      margin: 0;
      padding: 0;
    }
  }

  & .social {
    @include col(
      $screen: md,
      $column: 6,
      $gutter: 0
    );

    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 34px;
    padding: 0;
    list-style: none;

    @media (min-width: $screen-md) {
      margin: 0;
    }

    &__link {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 52px;
      height: 52px;
      border: 3px solid $gray-lightest;
      border-radius: 50%;

      background-color: transparent;

      &:hover {
        border-color: $text-color;
      }

      &:active {
        opacity: 0.5;
      }
    }

    &__link-wrap {
      margin-right: 11px;

      &:last-of-type {
        margin-right: 0;
      }
    }
  }

  &__inner {
    @include container(
      $xs-grid-gutter: 0,
      $sm-grid-gutter: 0,
      $md-grid-gutter: 40px,
      $lg-grid-gutter: 20px,
      $xl-grid-gutter: 20px
    );
    @include row(
      $xs-grid-gutter: 0,
      $sm-grid-gutter: 0,
      $md-grid-gutter: 0,
      $lg-grid-gutter: 0,
      $xl-grid-gutter: 0
    );
  }

  &__logo {
    margin: 0 auto;

    @media (min-width: $screen-md) {
      margin: 0;
    }
  }

  &__copyright {
    @include col(
      $screen: md,
      $column: 3,
      $gutter: 0
    );

    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 40px;
    margin-bottom: 40px;

    font-size: 14px;
    line-height: 18px;

    @media (min-width: 660px) {
      justify-content: flex-end;
      margin-bottom: 0;
    }

    & svg {
      margin-left: 20px;
    }
  }

  &--index {
    display: none;
  }

  &--contest {

    @media (min-width: $screen-md) {
      padding-top: 26px;
    }

    .logo {
      padding-top: 25px;

      @media (min-width: $screen-sm) {
        @include col(sm, 6, 12, 0);
      }
    }

    .social {

      @media (min-width: $screen-sm) {
        @include col(sm, 6, 12, 0);
      }
    }

    #{$block-name}__inner {
      justify-content: center;
    }

    #{$block-name}__logo {

      @media (min-width: $screen-sm) {
        // margin: 0;
      }
    }
  }
}
