// В этом файле должны быть стили для БЭМ-блока form, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.form {

  $block-name:                &; // #{$block-name}__element

  &__fieldset {
    min-width: 0;
    margin: 0;
    border: 0;
    padding: 0;

    &:not(:last-child) {
      margin-bottom: $typo-margin-vertical;
    }

    &--contacts:not(:last-child) {
      margin-bottom: 8px;

      @media (min-width: $screen-sm) {

        #{$block-name}__legend {
          width: auto;
          margin-bottom: 10px;
          padding-right: 33px;
          padding-left: 33px;

          text-indent: 0;
          line-height: 30px;
        }

        .field-text__input-wrap {
          margin-bottom: 13px;
        }
      }
    }

    &--contacts #{$block-name}__legend,
    &--full-name #{$block-name}__legend {
      margin: 0;
      padding-top: 0;
      text-indent: -999em;
      line-height: 0;
    }

    &--achievements #{$block-name}__legend {
      position: relative;
      top: 54px;
      margin-bottom: 20px;

      @media (min-width: $screen-sm) {
        position: static;
        width: auto;
        padding-right: 33px;
        padding-left: 33px;
      }
    }

    &--app #{$block-name}__legend {
      position: relative;
      top: 55px;
      margin-bottom: 65px;

      @media (min-width: $screen-sm) {
        position: static;
        top: unset;
        width: auto;
        margin-bottom: 15px;
        padding-right: 25px;
        padding-left: 25px;
        line-height: 30px;
      }
    }

    &--contacts .field-text {
      margin-bottom: 17px;
    }

    &--comment {
      #{$block-name}__legend {
        position: relative;
        top: 20px;
        margin-bottom: 37px;

        @media (min-width: $screen-sm) { // stylelint-disable-line max-nesting-depth
          position: static;
          margin-bottom: 0;
          width: auto;
          padding-right: 33px;
          padding-left: 33px;
        }
      }

      .field-text__input {
        height: 200px;
      }
    }
  }

  &__legend {
    display: block;
    width: 100%;
    max-width: 100%; // Привет IE
    margin-top: 0;
    margin-bottom: $typo-margin-vertical;
    font-size: $font-size-h3;
    font-family: $font-family;
    font-weight: 700;
    line-height: $line-height;
    white-space: normal; // Привет IE
    color: currentColor;
  }
}
