// В этом файле должны быть стили для БЭМ-блока form, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.form {

  $block-name:                &; // #{$block-name}__element

  &__fieldset {
    min-width: 0;
    margin: 0;
    border: 0;
    padding: 0;

    &:not(:last-child) {
      margin-bottom: $typo-margin-vertical;
    }

    &--contacts:not(:last-child) {
      margin-bottom: 8px;
    }

    &--contacts #{$block-name}__legend,
    &--full-name #{$block-name}__legend {
      margin: 0;
      padding-top: 0;
      text-indent: -999em;
      line-height: 0;
    }

    &--achievements #{$block-name}__legend {
      position: relative;
      top: 54px;
      margin-bottom: 20px;
    }

    &--app #{$block-name}__legend {
      position: relative;
      top: 55px;
      margin-bottom: 65px;
    }

    &--contacts .field-text {
      margin-bottom: 17px;
    }

    &--comment {
      #{$block-name}__legend {
        position: relative;
        top: 20px;
        margin-bottom: 37px;
      }

      .field-text__input {
        height: 200px;
      }
    }
  }

  &__legend {
    display: block;
    width: 100%;
    max-width: 100%; // Привет IE
    margin-top: 0;
    margin-bottom: $typo-margin-vertical;
    font-size: $font-size-h3;
    font-family: $font-family;
    font-weight: 700;
    line-height: $line-height;
    white-space: normal; // Привет IE
    color: currentColor;
  }
}
